<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
</head> 
<body>
 
<!-- start headerbar -->
 
{% block header %}
 
<div id="wrap">
    
  <!--header -->
  <div id="header"> 
  </div>

  <!-- navigation -->  
  <div id="menu">
  </div>  
 
{% endblock %}
 
<!-- end header -->
 
<!-- start page -->
<!-- start content -->
<div id="page">
  
{% block content %}
    
  
{% endblock %}
 
  <!-- end content -->

<div style="clear: both;">&nbsp;</div>
</div>
 
<!-- end page -->
<!--footer starts here-->
  <div id="footer">        
  </div>  
<!-- end footer -->
<!-- wrap ends here -->
</div>
</body>
</html>